.b-font-primary--bold{
font-weight: 900;
}

.b-heading-h2--cardProductos{

    background-color: #434343;
    color: #f3f3f3;
    
}

.b-bttn--selectGlaeria{

    cursor: pointer;
    border-radius: 5px;
    background-color: #434343;
    padding: 5px;
   
}

